.header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  height: 60px;
  z-index: 2;
  display: flex; /* This makes the header a flex container */
  align-items: center; /* Center items vertically */
  transition: all ease 0.5s;

  &.top {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }

  &.show {
    background-color: var(--black3);
  }

  &.hide {
    transform: translateY(-60px);
  }

  .contentWrapper {
    display: flex; /* Flex container for logo and menu items */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between logo and menu items */
    width: 100%; /* Full width */
  }

  .logo {
    cursor: pointer;
    display: flex; /* Ensure logo contents are in a row */
    align-items: center; /* Center the contents vertically */
  }

  .logo img {
    height: 50px; /* Keep your image size */
    margin-right: 10px; /* Optional: add spacing between image and text */
  }

  .menuItems {
    list-style-type: none; /* Remove default list styles */
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; /* Center vertically */
    color: white;
  }

  .menuItems.menuItem {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 15px; /* Space between menu items */
    color: white;
    font-weight: 500;
    position: relative;
    cursor: pointer; /* Change cursor on hover */

    &:hover {
      color: var(--pink); /* Change color on hover */
    }
  }

  .mobileMenuItems {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .mobileMenuItems svg {
    font-size: 18px;
    color: white;
  }

  &.mobileView {
    background: var(--black3);
  }

  &.mobileView .menuItems {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    background: var(--black3);
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    animation: mobileMenu 0.3s ease forwards;
  }

  &.mobileView .menuItems .menuItem {
    font-size: 20px;
    width: 100%;
    height: auto;
    padding: 15px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      display: none;
    }
  }

  .searchBar {
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 60px;
    animation: mobileMenu 0.3s ease forwards;
  }

  .searchBar .searchInput {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    width: 100%;
  }

  .searchBar .searchInput svg {
    font-size: 20px;
    flex-shrink: 0;
    margin-left: 10px;
    cursor: pointer;
  }

  .searchBar .searchInput input {
    width: 100%;
    height: 50px;
    background-color: white;
    outline: 0;
    border: 0;
    border-radius: 30px 0 0 30px;
    padding: 0 15px;
    font-size: 14px;
  }

  .searchBar .searchInput input {
    height: 60px;
    font-size: 20px;
    padding: 0 30px;
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}
